In [1]:
inventory = {"1111":{"Name":"Coke","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1112":{"Name":"Sprite","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1113":{"Name":"Fanta","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1114":{"Name":"Thumps Up","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1115":{"Name":"Limca","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1116":{"Name":"Pepsi","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1117":{"Name":"Mirinda","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1118":{"Name":"7 Up","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1119":{"Name":"Mountain Dew","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1120":{"Name":"Maaza","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1121":{"Name":"Frooti","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "1122":{"Name":"Slice","Exp. Date":"1/7/22","Type":"Drink","Quantity":"100","Price":"30"},
             "2111":{"Name":"Lays","Exp. Date":"1/2/22","Type":"Snacks","Quantity":"80","Price":"10"},
             "2112":{"Name":"Bingo","Exp. Date":"1/2/22","Type":"Snacks","Quantity":"80","Price":"10"},
             "2113":{"Name":"Kurkure","Exp. Date":"1/2/22","Type":"Snacks","Quantity":"80","Price":"10"},
             "2114":{"Name":"Chips","Exp. Date":"1/2/22","Type":"Snacks","Quantity":"80","Price":"10"},
             "2115":{"Name":"Cheetos","Exp. Date":"1/2/22","Type":"Snacks","Quantity":"80","Price":"10"},
             "3111":{"Name":"Dairy Milk","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3112":{"Name":"Perk","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3113":{"Name":"Fuse","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3114":{"Name":"5 Star","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3115":{"Name":"Bournville","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3116":{"Name":"MilkyBar","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3117":{"Name":"KitKat","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3118":{"Name":"Munch","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3119":{"Name":"Bar One","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3120":{"Name":"Chuckles","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3121":{"Name":"Snickers","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3122":{"Name":"Kinder Joy","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"},
             "3123":{"Name":"Choco Pie","Exp. Date":"1/4/22","Type":"Chocolate","Quantity":"50","Price":"20"}}

In [2]:
inventory

{'1111': {'Name': 'Coke',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1112': {'Name': 'Sprite',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1113': {'Name': 'Fanta',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1114': {'Name': 'Thumps Up',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1115': {'Name': 'Limca',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1116': {'Name': 'Pepsi',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1117': {'Name': 'Mirinda',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1118': {'Name': '7 Up',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1119': {'Name': 'Mountain Dew',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1120': {'Name': 'Maaza',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1121': {'Name': 'Frooti',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '1122': {'Name': 'Slice',
  'Exp. Date': '1/7/22',
  'Type': 'Drink',
  'Quantity': '100',
  'Price': '30'},
 '2111': {'Name': 'Lays',
  'Exp. Date': '1/2/22',
  'Type': 'Snacks',
  'Quantity': '80',
  'Price': '10'},
 '2112': {'Name': 'Bingo',
  'Exp. Date': '1/2/22',
  'Type': 'Snacks',
  'Quantity': '80',
  'Price': '10'},
 '2113': {'Name': 'Kurkure',
  'Exp. Date': '1/2/22',
  'Type': 'Snacks',
  'Quantity': '80',
  'Price': '10'},
 '2114': {'Name': 'Chips',
  'Exp. Date': '1/2/22',
  'Type': 'Snacks',
  'Quantity': '80',
  'Price': '10'},
 '2115': {'Name': 'Cheetos',
  'Exp. Date': '1/2/22',
  'Type': 'Snacks',
  'Quantity': '80',
  'Price': '10'},
 '3111': {'Name': 'Dairy Milk',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3112': {'Name': 'Perk',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3113': {'Name': 'Fuse',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3114': {'Name': '5 Star',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3115': {'Name': 'Bournville',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3116': {'Name': 'MilkyBar',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3117': {'Name': 'KitKat',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3118': {'Name': 'Munch',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3119': {'Name': 'Bar One',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3120': {'Name': 'Chuckles',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3121': {'Name': 'Snickers',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3122': {'Name': 'Kinder Joy',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'},
 '3123': {'Name': 'Choco Pie',
  'Exp. Date': '1/4/22',
  'Type': 'Chocolate',
  'Quantity': '50',
  'Price': '20'}}

In [3]:
inventory["1111"]

{'Name': 'Coke',
 'Exp. Date': '1/7/22',
 'Type': 'Drink',
 'Quantity': '100',
 'Price': '30'}

In [4]:
inventory["3113"]

{'Name': 'Fuse',
 'Exp. Date': '1/4/22',
 'Type': 'Chocolate',
 'Quantity': '50',
 'Price': '20'}

In [5]:
import json
js = json.dumps(inventory)
js

'{"1111": {"Name": "Coke", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1112": {"Name": "Sprite", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1113": {"Name": "Fanta", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1114": {"Name": "Thumps Up", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1115": {"Name": "Limca", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1116": {"Name": "Pepsi", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1117": {"Name": "Mirinda", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1118": {"Name": "7 Up", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1119": {"Name": "Mountain Dew", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1120": {"Name": "Maaza", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1121": {"Name": "Frooti", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "1122": {"Name": "Slice", "Exp. Date": "1/7/22", "Type": "Drink", "Quantity": "100", "Price": "30"}, "2111": {"Name": "Lays", "Exp. Date": "1/2/22", "Type": "Snacks", "Quantity": "80", "Price": "10"}, "2112": {"Name": "Bingo", "Exp. Date": "1/2/22", "Type": "Snacks", "Quantity": "80", "Price": "10"}, "2113": {"Name": "Kurkure", "Exp. Date": "1/2/22", "Type": "Snacks", "Quantity": "80", "Price": "10"}, "2114": {"Name": "Chips", "Exp. Date": "1/2/22", "Type": "Snacks", "Quantity": "80", "Price": "10"}, "2115": {"Name": "Cheetos", "Exp. Date": "1/2/22", "Type": "Snacks", "Quantity": "80", "Price": "10"}, "3111": {"Name": "Dairy Milk", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3112": {"Name": "Perk", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3113": {"Name": "Fuse", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3114": {"Name": "5 Star", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3115": {"Name": "Bournville", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3116": {"Name": "MilkyBar", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3117": {"Name": "KitKat", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3118": {"Name": "Munch", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3119": {"Name": "Bar One", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3120": {"Name": "Chuckles", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3121": {"Name": "Snickers", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3122": {"Name": "Kinder Joy", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}, "3123": {"Name": "Choco Pie", "Exp. Date": "1/4/22", "Type": "Chocolate", "Quantity": "50", "Price": "20"}}'

In [6]:
fd = open("inventory.json",'w')
fd.write(js)
fd.close()

In [7]:
fd = open("inventory.json",'r')
txt = fd.read()
fd.close()

In [8]:
inventory = json.loads(txt)

In [9]:
left_alignment="Product ID"
center_alignment="Item"
right_alignment="Price"
print(f"{left_alignment : <20}{center_alignment : ^15}{right_alignment : >20}")
print("-------------------------------------------------------")
for i in inventory:
    left_alignment=i
    center_alignment=inventory[i]["Name"]
    right_alignment=inventory[i]["Price"]
    print(f"{left_alignment : <20}{center_alignment : ^15}{right_alignment : >20}")

Product ID               Item                     Price
-------------------------------------------------------
1111                     Coke                        30
1112                    Sprite                       30
1113                     Fanta                       30
1114                   Thumps Up                     30
1115                     Limca                       30
1116                     Pepsi                       30
1117                    Mirinda                      30
1118                     7 Up                        30
1119                 Mountain Dew                    30
1120                     Maaza                       30
1121                    Frooti                       30
1122                     Slice                       30
2111                     Lays                        10
2112                     Bingo                       10
2113                    Kurkure                      10
2114                     Chips                       10
2115                    Cheetos                      10
3111                  Dairy Milk                     20
3112                     Perk                        20
3113                     Fuse                        20
3114                    5 Star                       20
3115                  Bournville                     20
3116                   MilkyBar                      20
3117                    KitKat                       20
3118                     Munch                       20
3119                    Bar One                      20
3120                   Chuckles                      20
3121                   Snickers                      20
3122                  Kinder Joy                     20
3123                   Choco Pie                     20

In [10]:
import random
cart={}
shop="Y"
while(shop=="Y"):
    product=input("Enter Product ID:  ")
    if product in inventory:
        print("Product Available")
        quantity=input("Enter Product Quantity:  ")
        if (int(quantity)<=int(inventory[i]["Quantity"])):
            print("Stock Available")
            print("Item added to cart")
            new_quantity=int(inventory[i]["Quantity"])-int(quantity)
            inventory[i]["Quantity"]=str(new_quantity)
            total_price=int(inventory[i]["Price"])*int(quantity)
            val=str(random.randint(1000,9999))
            cart[val]={}
            cart[val]["Product ID"]=product
            cart[val]["Item"]=inventory[product]["Name"]
            cart[val]["Price"]=inventory[product]["Price"]
            cart[val]["Quantity"]=quantity
            cart[val]["Total Price"]=str(total_price)
        else:
            print("Sorry only "+inventory[i]["Quantity"]+" stocks left")         
    else:
        print("Product Not Available")
    shop=input("Do you want to continue shopping?   Y or N   ")

Enter Product ID:  1111
Product Available
Enter Product Quantity:  20
Stock Available
Item added to cart
Do you want to continue shopping?   Y or N   Y
Enter Product ID:  3113
Product Available
Enter Product Quantity:  10
Stock Available
Item added to cart
Do you want to continue shopping?   Y or N   N

In [11]:
cart

{'6180': {'Product ID': '1111',
  'Item': 'Coke',
  'Price': '30',
  'Quantity': '20',
  'Total Price': '400'},
 '7353': {'Product ID': '3113',
  'Item': 'Fuse',
  'Price': '20',
  'Quantity': '10',
  'Total Price': '200'}}

In [12]:
total_price=0
for i in cart:
    total_price=total_price+int(cart[i]["Total Price"])
import time
name=input("Enter Your Name:  ")
time=time.ctime()
print("Please Wait Creating Bill")
bill={}
bill["Name"]=name
bill["Time"]=time
bill["Total Amount"]=str(total_price)
print("Name of Customer: " +bill["Name"])
print("Time of Purchase: " +bill["Time"])
print("Total Billing Amount: "+bill["Total Amount"])

Enter Your Name:  Amaan
Please Wait Creating Bill
Name of Customer: Amaan
Time of Purchase: Tue Aug 31 23:34:42 2021
Total Billing Amount: 600

In [13]:
sales={}
sales.update(bill)

In [14]:
sales

{'Name': 'Amaan', 'Time': 'Tue Aug 31 23:34:42 2021', 'Total Amount': '600'}

In [15]:
js2 = json.dumps(sales)
js2

'{"Name": "Amaan", "Time": "Tue Aug 31 23:34:42 2021", "Total Amount": "600"}'

In [16]:
fd2 = open("sales.json",'w')
fd2.write(js2)
fd2.close()

In [17]:
fd2 = open("sales.json",'r')
txt2 = fd2.read()
fd2.close()

In [18]:
sales = json.loads(txt2)

In [19]:
sales

{'Name': 'Amaan', 'Time': 'Tue Aug 31 23:34:42 2021', 'Total Amount': '600'}